#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
dist
build
node_modules
*.tsx
.cache
.vscode